{% extends "base.html" %}

{% block menu %}

<div id="menu">
    <ul>
        <li><a href="index" class="active">Home</a></li>
        <li><a href="upload">Upload</a></li>
        <li><a href="image">Image</a></li>
        <li><a href="http://oswd.org">Gallery</a></li>
        <li><a href="image_list">Image List</a></li>
        <li><a href="image_list_server_side_thumbnail">Image List (server resizes thumbnail)</a></li>
    </ul>
</div>
<div id="menubottom"></div>

{% endblock %}

{% block username %}

<h3><strong>User: </strong> <span>{{ username }}</span></h3>

{% endblock %}

<p>{{ username }}<p/>

{% block content %}

<img width="20%" src='image_raw?special=latest' class="left" alt="My uploaded image"/>
<form action='add_comment' method='POST'
    enctype='application/x-www-form-urlencoded'>
    Comment: <input type='text' name='comment'/>
    <input type='submit' value='Submit'/>
</form>
<li><a href="view_comments">View Comments</a></li>
<li><a href="retrieve_metadata">Retrieve Metadata</a></li>
<br/>
<form action="delete_image" method="get">
    Delete Image?
    <button name="delete" type="submit" >Delete</button>
</form>

{% endblock %}
