{% extends "base.html" %}

{% block menu %}

<div id="menu">
    <ul>
        <li><a href="index">Home</a></li>
        <li><a href="upload" class="active">Upload</a></li>
        <li><a href="image">Image</a></li>
        <li><a href="http://oswd.org">Gallery</a></li>
        <li><a href="image_list">Image List</a></li>
        <li><a href="image_list_server_side_thumbnail">Image List (server resizes thumbnail)</a></li>
    </ul>
</div>
<div id="menubottom"></div>

{% endblock %}


{% block username %}

<h3><strong>User: </strong> <span>{{ username }}</span></h3>

{% endblock %}



{% block content %}
Upload a PNG:

<form enctype='multipart/form-data' action='upload_receive' method='POST'>
Filename: <input type='file' name='file'><p>
<input type='submit'>
</form>
{% endblock %}
